body {
 background-color: <bg_color3>;
 font-family: arial,sans-serif;
 font-size: 12px;
}


table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}

TABLE.BODY{
 border-style: solid;
 border-color: <logo_color>;
 background-color: <bg_color>;
}

TABLE.menu{
 border-style: solid;
 border-color: <dir_desc_color>;
 background-color: <bg_color2>;
}
TABLE.menu2{
 border-style: solid;
 border-color: <dir_desc_color>;
 background-color: <bg_color>;
 margin-top: 10px;
}

FONT.te{
 color: <link_color2>;
 font-weight: bold;
 text-decoration: none;}

FONT.desc{
color: <dir_desc_color>;
text-decoration: none;
font-size: 0.9em;}

FONT.dirdesc{
color: <dir_desc_color>;
text-decoration: none;
}

A:link.me{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:visited.me{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:hover.me{
 color: <link_color>;
 font-weight: bold;
 text-decoration: underline;}
A:active.me{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}

A:link.me3{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}
A:visited.me3{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}
A:hover.me3{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: underline;}
A:active.me3{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}

A:link.me4{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}
A:visited.me4{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}
A:hover.me4{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}
A:active.me4{
 color: <dir_desc_color>;
 font-weight: bold;
 text-decoration: none;}

A:link.me2{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:visited.me2{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:hover.me2{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:active.me2{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}

A:link.logo{
 font-size: 58;
 color: <logo_color>;
 font-weight: bold;
 text-decoration: none;}
A:visited.logo{
 font-size: 58;
 color: <logo_color>;
 font-weight: bold;
 text-decoration: none;}
A:hover.logo{
 font-size: 58;
 color: <logo_color>;
 font-weight: bold;
 text-decoration: none;}
A:active.logo{
 font-size: 58;
 color: <logo_color>;
 font-weight: bold;
 text-decoration: none;}
TD{
color: <link_color>;
}
TD.boxhead {
color: <link_color>;
background-color: <bg_color3>;
}
TD.boxbody {
color: <link_color2>;
background-color: <bg_color2>;
}
FONT.photo_desc_color {
color: <photo_desc_color>;
}
TD.thmb {
background-color: <bg_color>;
}
TD.photo {
background-color: <border_color>;
}
TD.txt {
color: <link_color>;
}
TD.logo {
font-size: 72px;
color: <logo_color>;
background-color: <bg_color>;
}
IMG.thmb {
border-color: <border_color>;
border-style: solid;
border-width: <BORDERWIDTH>px;
}
IMG.thmb_dir {
border-color: <border_color>;
border-style: solid;
border-width: 2;
}
IMG.movie {
border-color: <border_color>;
border-style: solid;
border-width: 0;
}

TABLE.F {
	border-style: solid;
	border-color: <bg_color3>;
	background-color: <bg_color>;
}
TD.F {
	color: <link_color>;
	font-weight: bold;
	font-size: 0.8em;
}
TD.N {
	color: <link_color>;
	font-weight: normal;
	font-size: 0.8em;
}
TR.H {
	background-color: <bg_color3>;
	color: <link_color>;
	font-weight: bold;
	font-size: 0.8em;
}
A:link.mex{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:visited.mex{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
A:hover.mex{
 color: <link_color>;
 font-weight: bold;
 text-decoration: underline;}
A:active.mex{
 color: <link_color>;
 font-weight: bold;
 text-decoration: none;}
 
INPUT.login{
border: 1px solid <link_color>;
padding: 3px;
background-color: <bg_color2>;
color: <link_color>;
font-size: 0.9em;
font-weight: bold;
}
INPUT.login_btn{
border: 1px solid <link_color>;
padding: 2px;
background-color: <link_color>;
color: <bg_color2>;
font-size: 0.9em;
font-weight: bold;
}

